.todo {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 400px;
  background-color: #FFF;
  padding: 15px;
  display: flex;
  border-radius: 5px;
}
.todo__form {
  display: flex;
  flex-direction: row;
}

.todo__form-input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  height: 45px;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 2px;
  background-color: #FFF;
  text-align: center;
}

.todo__form-button{
  margin-left: 5px;
  width: 99px;
  height: 44px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
  text-transform: uppercase;
}
.todo__form-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.todo__list {
  padding: 0;
  list-style: none;
  justify-content: center;
}

.todo__list-item {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;

  transition: background-color .2s ease-out;
}
.todo__list-item:hover {
  background-color: crimson;
  cursor: pointer;
}